@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


:root {
	--primary-color: #046aed;
	--secondary-color: #1c3fa8;
	--dark-color: #002240;
	--light-color: #f4f4f4;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Lato", sans-serif;
	color: #333;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

h2 {
	font-weight: 300;
}

p {
	margin: 10px 0;
}

img {
	width: 100%;
}

h1 {
    margin: 0 auto;
    position: relative;
    top: 120px;
    letter-spacing: 3px;
    font-family: 'Lato', sans-serif;
}

#main-section {
    background-color: white;
}

#calculator {
    padding-top: 20px;
    margin: 200px auto 0 auto;
    width: 400px;
    height: 450px;
    border: 3px solid #000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#display {
    color: blue;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: right;
    font-size: 20px;
    width: 360px;
    height: 50px;
    margin: 25px auto 0 auto;
    border-radius: 10px;
    box-shadow: inset 1px 1px 3px #000;
}

#buttons-content {
    width: 360px;
    height: auto;
    margin: 25px auto 0 auto;
}

.number {
    background-color: #1E6EBA;
}

.operator {
    background-color: #1EBA46;
}

.calculate, .clear {
    background-color: white;
}

.btn-sections {
    float: left;
    width: 100%;
    margin: 10px 0;
}

.buttons {
    float: left;
    width: 70px;
    padding: 5px 14px;
    font-size: 26px;
    border: 1px solid black;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
}

.btnclick {
    animation: example 1s;
}

.backToProjects {
    position: relative;
    top: 50px;
    margin: 0 auto;
    width: 200px;
    display: block;
    padding: 5px 10px;
    background: #000;
    color: #FFF;
    text-align: center;
    transition: all .4s ease;
}

@keyframes example {
	from {opacity: 0.2; box-shadow: 2px 2px 4px #000}
	to {opacity: 1; box-shadow: 0px 0px 0px #000}
}